# Where to store uploaded photos/videos
UPLOAD_LOCATION=/opt/immich/library

# Where to store the database
DB_DATA_LOCATION=./postgres

# Timezone
TZ=Europe/Berlin

# Immich version (use "release" for latest stable)
IMMICH_VERSION=release

# Database password (use only A-Za-z0-9, no special characters)
DB_PASSWORD=change_me_strong_password

# Database connection (usually no need to change)
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
